@using QuanLyVanPhongPham.Models
@model SanPham

@{
    ViewBag.Title = "ChiTietSanPham";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thiên Long</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background: #007bff;
            color: #fff;
            padding: 15px;
            text-align: center;
        }

        .search {
            margin: 20px auto;
            text-align: center;
        }

            .search input {
                padding: 10px;
                width: 300px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .search button {
                padding: 10px 15px;
                margin-left: 10px;
                background: #28a745;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

        .button-container {
            display: flex;
            gap: 10px; /* Khoảng cách giữa các nút */
        }

        btn btn-primary {
            padding: 10px 15px;
            margin-left: 10px;
            background: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            btn btn-primary:hover {
                background-color: #0056b3; /* Màu nền khi di chuột qua */
            }



        .sanpham {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .sanpham, form {
            background: #fff;
            flex: 1 0 30%;
            margin: 5px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="search">
        <input type="text" placeholder="Tìm kiếm sản phẩm...">
        <button>Tìm</button>
        <a href="@Url.Action("DangNhap", "DN")" class="btn btn-primary">Đăng nhập</a>
        <a href="@Url.Action("DangKy", "DN")" class="btn btn-primary">Đăng ký</a>

    </div>

    <h2>Chi tiết sản phẩm</h2>
    <div class="sanpham">
      
        @using (Html.BeginForm("ChiTietSanPham", "SanPham", FormMethod.Post))
        {
            <img src="/@Model.HinhAnh" alt="@Model.MoTa" width="100" height="100"><br />
            @Model.MaSP<br />
            @Model.TenSP<br />
            @Model.GiaBan<br />
            @Model.MoTa<br />
            
            <a href="@Url.Action("ShowSanPham", "SanPham")" class="btn btn-primary">Trở về danh sách sản phẩm</a>
        }           
    </div>


</body>
</html>

