@using QUANLYVANPHONGPHAM.Models
@model NguoiDung
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhapAdmin</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<style>
    body {
        background-color: #f8f9fa;
    }

    .login-container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .login-container .form-group {
            margin-bottom: 15px;
        }

        .login-container button {
            width: 100%;
        }

    .form-control {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .modal {
        display: block;
    }

    /* Đặt thuộc tính mặc định cho modal (ẩn đi và có hiệu ứng mờ dần) */
    #successModal {
        /*display: none !important; */
        visibility: hidden;
        opacity: 0;
        transform: scale(0.9);
        transition: visibility 0s 0.3s, opacity 0.3s linear, transform 0.3s linear;
    }

        /* Khi modal hiển thị (sử dụng class `show`), áp dụng hiệu ứng */
        #successModal.show {
            display: block !important;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            /*transition: visibility 0s 1s, opacity 1s linear, transform 1s linear;*/
        }
</style>
<body>
    <div class="login-container">
        <h2>Đăng Nhập Admin</h2>
        @using (Html.BeginForm("DangNhapAdmin", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group input-group">
                @Html.TextBoxFor(m => m.TenTaiKhoan, new { @class = "form-control", placeholder = "Tên tài khoản" })
            </div>



            <div class="form-group input-group">

                @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", placeholder = "Mật khẩu", id = "passwordInput" })
                <span id="togglePassword" style="cursor: pointer; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                    <i class="fa fa-eye" id="eyeIcon1"></i>
                </span>
            </div>

            <!-- Hiển thị thông báo lỗi tổng quát ở dưới cùng -->
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <button type="submit" class="btn btn-primary mt-3 mb-3">Đăng nhập</button>

            <p style="text-align: center"> @Html.ActionLink("Quên Mật khẩu", "QuenMatKhauAdmin", "Admin")</p>
            

        }

    </div>

    @if (ViewBag.Login != null && ViewBag.Login == true)
    {
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Hiển thị popup sau khi trang load nếu có thông báo thành công
            showSuccessPopup();
        });
        </script>
    }

    <!-- Modal thông báo thành công -->
    <div id="successModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" onclick="closeSuccessPopup()">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Đăng nhập thành công</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="closeSuccessPopup()">Đóng</button>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    // thực hiện chức năng show password
    document.getElementById('togglePassword').addEventListener('click', function () {
        const passwordInput = document.getElementById('passwordInput');
        const eyeIcon = document.getElementById('eyeIcon1');

        // Kiểm tra trạng thái mật khẩu
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    });


    //thực hiện chức năng hiển pop up thông báo đăng ký thành công
    function showSuccessPopup() {
        const modal = document.getElementById("successModal");
        modal.style.visibility = "visible";
        setTimeout(() => {
            modal.classList.add("show");
        }, 5);
    }

    function closeSuccessPopup() {
        const modal = document.getElementById("successModal");
        modal.classList.remove("show");

        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Admin")';
        }, 300);

    }
</script>

</html>
